/*========DESKTOP STYLES========*/


/*div {

  border: solid red 1px;
}*/

body {
  font-family: 'Nunito', sans-serif;
}

.set-loc-btn {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.view-rpt-btn {
  margin: 5px;
}
#chat_history{
  vertical-align: top;
  height: 4.50em;
  overflow-y: scroll;
  /*border: solid 1px black;*/
}

.navbar {
    max-width: 1170px; /* width of .container */
    margin: 0 auto;
}
.label.label-info.chatter {
  margin-right: 10px;
  margin-top: 5px;
}

#amber-alert {
  font-size: 2em;
  background-color: yellow;
  width: 100%;
}

marquee {
  position: fixed;
  top: 0;
}

.log-in-reg-nav {
  display: block;
  padding-top: 1em;
}

.new-report-field {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 95%;
}

.create-report-btn {
  margin-top: 15px;
}

/*=============== REPORTS INDEX STYLES ==================*/

.home-button {
  width: 6em;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#report-map {
  width: 95%;
  height: 19em;
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;

}

.map-filters-btns {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

#radius {
  margin: 5px;
}

#animal_type {
  margin: 5px;
}

.nearby-reports-list {
  margin-top: 1em;
}

.nearby-reports-list-item {
  overflow: auto;
  border-radius: 10px;
  margin: 7px;
}

.nearby-reports-thumbnail {
  float: left;
}

img.nearby-reports-thumbnail {
  width: 40%;
}

.nearby-reports-text-block {
  width: 59%;
  float: right;
  padding-left:1em;
  font-size: 0.8em ;
}




/*======================================================*/


.report-show-img {
width: 95%;
}

.report-show-text {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  /*color: #31708f;*/
  background-color: #d9edf7;
  border-radius: 10px;
  padding: 10px 15px;
}

.pet-report-list-items {
  width: 95%;
  text-align: left;
  margin: 0 auto;
}

.btn-orange {
  background-color: #F36F56;
  border-color: #F36F56;
}

.lost-button {
  width: 10em;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.found-button {
  width: 10em;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nearby-reports {
  width: 10em;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}


.login-container {
  width: 80%;
  margin: 1em auto;
}

.field {
  margin: 1.5em auto;
}

.sign-up-top {
  float: left;
}

.logged-in-banner {
  margin: 10px;
}

.log-in-top {
  float: right;
}

.edit-profile {
  margin: 5px;
  float: left;
}

.log-out {
  margin: 5px;
  float: right;
}

/*========MOBILE STYLES========*/

/*Avoid explicit absolute widths – where possible you should use percentage widths.

Linearise everything – where possible, remove all floats. We want no content side-by-side unnecessarily.*/


/* media query for iPhone 2G-4S in portrait & landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {


  body {
    /*bootstrap doesn't give you top padding so we want this for the phone */
    padding-top: 0.5em;
  }


  .fuzz-logo {
    height: 9em;
    width: 14em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }




    .sign-up-view {
      width: 100%;
      background-color: white;
    }

    .app-header {
      margin:0 auto;
      width:750px;
      color: #E65C00;
    }




    /* body {*/
      /* re-sizes text for you */
      /*-webkit-text-size-adjust:auto;*/
      /* Helvetica looks terrible on pc, good on iphone */
      /* font-family:Helvetica, Arial, Verdana, sans-serif;*/
      /* padding so nothing touches edge of iphone screen*/
     /* padding:15px;
      font-size: 4em;
      */
      /*  }*/

    }





/*recommanded for divs:

    div{
        clear:both!important;
        display:block!important;
        width:100%!important;
        float:none!important;
        margin:0!important;
        padding:0!important;
        }*/
