/*========DESKTOP STYLES========*/


.btn-orange {
  background-color: #E65C00;
  border-color: #E65C00;
}

.lost-button {
  width: 10em;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.found-button {
  width: 10em;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nearby-reports {
  width: 10em;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}


.login-container {
  width: 80%;
  margin: 1em auto;"
}

.field {
  margin: 1.5em auto;
}

.sign-up-top {
  float: left;
}

.logged-in-banner {
  margin: 10px;
}

.log-in-top {
  float: right;
}

.edit-profile {
  margin: 5px;
  float: left;
}

.log-out {
  margin: 5px;
  float: right;
}

/*========MOBILE STYLES========*/

/*Avoid explicit absolute widths – where possible you should use percentage widths.

Linearise everything – where possible, remove all floats. We want no content side-by-side unnecessarily.*/


/* media query for iPhone 2G-4S in portrait & landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {


  body {
    /*bootstrap doesn't give you top padding so we want this for the phone */
    padding-top: 0.5em;
  }


  .fuzz-logo {
    height: 9em;
    width: 14em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }




    .sign-up-view {
      width: 100%;
      background-color: white;
    }

    .app-header {
      margin:0 auto;
      width:750px;
      color: #E65C00;
    }




    /* body {*/
      /* re-sizes text for you */
      /*-webkit-text-size-adjust:auto;*/
      /* Helvetica looks terrible on pc, good on iphone */
      /* font-family:Helvetica, Arial, Verdana, sans-serif;*/
      /* padding so nothing touches edge of iphone screen*/
     /* padding:15px;
      font-size: 4em;
      */
      /*  }*/

    }





/*recommanded for divs:

    div{
        clear:both!important;
        display:block!important;
        width:100%!important;
        float:none!important;
        margin:0!important;
        padding:0!important;
        }*/
