<form class="set-location-form" action="/users/<%= current_user.id %>/reports/<%= @report.id %>">
  <div id="map-canvas" style="width: 300px; height: 300px"></div>
  <input type="submit" value="Set Location">
</form>
